<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Lorem ipsum</a>
            </li>
            <li>
              <a routerLink="./" class="">Ut facilisis</a>
            </li>
            <li>
              <a routerLink="./" class="">Aenean sit</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a routerLink="./" class="">Suspendisse potenti</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <!--<div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0">
        <a class="text-white"
           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
        <a class="text-white"
           href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li>
          <a class="text-white" href="javascript:void(0);"
             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li *ngIf="showPrivacyPolicy">
          <a class="text-white"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li *ngIf="showEndUserAgreement">
          <a class="text-white"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li>
          <a class="text-white"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>-->
  <!-- FOOTER UNIACC.CL -->
  <div id="primero">
    <div class="logos">
      <img class="logo" src="https://www.uniacc.cl/wp-content/uploads/2022/08/logo_uniacc_marzo_2019_white.svg" />
      <img class="acreditacion" src="https://www.uniacc.cl/wp-content/uploads/2022/08/logo-acreditada.svg" />
    </div>
    <div class="universidad listado">
      <h2><a href="https://www.uniacc.cl/universidad/">Universidad</a></h2>
      <ul>
        <li><a href="https://www.uniacc.cl/universidad/historia/">Historia</a></li>
        <li><a href="https://www.uniacc.cl/universidad/mision-vision-y-valores/">Misión, Visión y Valores Institucionales</a></li>
        <li><a href="https://www.uniacc.cl/universidad/modelo-educativo/">Modelo Educativo</a></li>
        <li><a href="https://www.uniacc.cl/universidad/direccion-de-genero-y-diversidad/">Dirección de Género y Diversidad</a></li>
        <li><a href="https://www.uniacc.cl/universidad/planificacion-estrategica/">Planificación estratégica</a></li>
        <li><a href="https://www.uniacc.cl/universidad/estados-financieros/">Estados Financieros</a></li>
        <li><a href="https://www.uniacc.cl/universidad/autoridades/">Autoridades</a></li>
        <li><a href="https://www.uniacc.cl/acreditacion/">Calidad</a></li>
        <li><a href="https://www.uniacc.cl/universidad/marco-normativo/">Marco Normativo</a></li>
        <li><a href="https://www.uniacc.cl/universidad/uniacc-protegido-ley-20-393/">UNIACC Protegido (Ley 20.393)</a></li>
      </ul>
    </div>
    <div class="facultades listado">
      <h2>Facultades</h2>
      <ul>
        <li><a href="https://www.uniacc.cl/facultad-de-administracion/" class="elementor-item menu-link">Facultad Administración</a></li>
        <li><a href="https://www.uniacc.cl/facultad-de-arquitectura-y-diseno/" class="elementor-item menu-link">Facultad Arquitectura y Diseño</a></li>
        <li><a href="https://www.uniacc.cl/facultad-de-artes/" class="elementor-item menu-link">Facultad Artes</a></li>
        <li><a href="https://www.uniacc.cl/facultad-de-ciencias-juridicas-y-sociales/" class="elementor-item menu-link">Facultad Ciencias Jurídicas y Sociales</a></li>
        <li><a href="https://www.uniacc.cl/facultad-de-comunicaciones/" class="elementor-item menu-link">Facultad Comunicaciones</a></li>
        <li><a href="https://www.uniacc.cl/facultad-de-psicologia/" class="elementor-item menu-link">Facultad Psicología</a></li>
      </ul>
    </div>
    <div class="otros listado">
      <h2 class="postgrado"><a href="https://www.uniacc.cl/postgrados-y-educacion-continua/">Postgrado y Educación Continua</a></h2>
      <h2><a href="https://www.uniacc.cl/prensa-y-radio/">Prensa y Radio</a></h2>
      <ul>
        <li><a href="https://www.uniacc.cl/prensa-y-radio/">Galería</a></li>
        <li><a href="https://www.uniacc.cl/noticias-y-novedades/">Noticias</a></li>
      </ul>
    </div>
    <div class="siguenos">
      <h2>Síguenos en</h2>
      <ul class="redes">
        <li><a href="https://www.facebook.com/UniversidadUNIACC/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/uniacc/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/UNIACC"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/@UniaccUniversidad"><i class="fab fa-youtube"></i></a></li>
      </ul>
      <img class="cup" src="https://www.uniacc.cl/wp-content/uploads/2022/08/cup-logo-desk.svg" />
    </div>
    
  </div>
  <div id="segundo">
    <div class="contacto">
      <ul>
        <li>CONTACTO:</li>
        <li><a href="mailto:admision@uniacc.cl">Admisión: admision@uniacc.cl</a></li>
        <li><a href="mailto:matriculas@uniacc.cl">Matrículas: matriculas@uniacc.cl</a></li>
        <li><a href="mailto:generoydiversidad@uniacc.cl">Dirección de Género y Diversidad: generoydiversidad@uniacc.cl</a></li>
        <li><a href="tel:+56226406000">Mesa Central: Mesa Central: (+56 2) 26406000</a></li>
      </ul>
    </div>
  </div>

  <div id="tercero">
    <span><a href="https://www.uniacc.cl/politica-de-privacidad/">Políticas de privacidad</a></span>
    <span><a href="https://www.uniacc.cl/">®UNIVERSIDAD UNIACC 2022</a></span>
    <span><a href="https://www.opengeekservice.cl/sitio/es/">Implementado por OPENGEEK SERVICES©</a></span>
  </div>
  <!-- FOOTER UNIACC.CL -->
</footer>
